###  Importing necessary Dependency

In [1]:
from pyspark.sql import SparkSession

# the Spark session should be instantiated as follows
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.jars", "postgresql-42.2.14.jar") \
    .getOrCreate()

### Connecting to the PostgresDB (Docker)

In [2]:
jdbcDF = spark.read.format("jdbc"). \
options(
         url='jdbc:postgresql://localhost:5432/postgres', # jdbc:postgresql://<host>:<port>/<database>
         dbtable='loan_accounts',
         user='postgres',
         password='password',
         driver='org.postgresql.Driver').\
load()

###  Verifying the import

In [40]:
jdbcDF.show(5)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|     128.0|           360.0|           1.0|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|      66.0|           360.0|           1.0|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|     120.0|           360.0|           1.0|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|     141.0|           360.0|           1.0|        Urban|          Y|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|     267.0|           360.0|           1.0|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 5 rows

### Aggregating the Data Based on the Categories

In [32]:
df = jdbcDF.groupBy("Gender","Married","Education").mean('LoanAmount')

In [34]:
df.show()

+------+-------+------------+------------------+
|Gender|Married|   Education|   avg(LoanAmount)|
+------+-------+------------+------------------+
|Female|     No|Not Graduate|             105.1|
|  Male|    Yes|Not Graduate|125.03333333333333|
|  Male|     No|Not Graduate| 99.66666666666667|
|  Male|     No|    Graduate|139.92857142857142|
|  Male|    Yes|    Graduate|163.02212389380531|
|Female|    Yes|    Graduate| 165.1818181818182|
|Female|    Yes|Not Graduate|138.66666666666666|
|Female|     No|    Graduate|115.31372549019608|
+------+-------+------------+------------------+

### Dumping the data back to the PostgresDB (Docker)

In [35]:
df.write.format("jdbc").options(driver="org.postgresql.Driver",
                                   user="postgres",
                                   password="password",
                                   url="jdbc:postgresql://localhost:5432/postgres",
                                   dbtable="loan_by_gender_and_education"
                                   ).save()

### Verfiying If the Data Dump was Succesful

In [41]:
DF = spark.read.format("jdbc"). \
options(
         url='jdbc:postgresql://localhost:5432/postgres', # jdbc:postgresql://<host>:<port>/<database>
         dbtable='loan_by_gender_and_education',
         user='postgres',
         password='password',
         driver='org.postgresql.Driver').\
load()

In [42]:
DF.show()

+------+-------+------------+------------------+
|Gender|Married|   Education|   avg(LoanAmount)|
+------+-------+------------+------------------+
|Female|     No|Not Graduate|             105.1|
|  Male|    Yes|Not Graduate|125.03333333333333|
|  Male|     No|Not Graduate| 99.66666666666667|
|  Male|     No|    Graduate|139.92857142857142|
|  Male|    Yes|    Graduate|163.02212389380531|
|Female|    Yes|    Graduate| 165.1818181818182|
|Female|    Yes|Not Graduate|138.66666666666666|
|Female|     No|    Graduate|115.31372549019608|
+------+-------+------------+------------------+