In [3]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [4]:
# spark is an existing SparkSession
df = spark.read.json("people.json")
# Displays the content of the DataFrame to stdout
df.show()

+---+----+-------+
|age|  id|   name|
+---+----+-------+
| 25|1201| satish|
| 28|1202|  haris|
| 39|1203|  amith|
| 23|1204|  javed|
| 23|1205| prudvi|
| 23|1206|Michael|
| 30|1207|   Andy|
| 19|1208|    jon|
| 19|1208|  maria|
| 19|1208|gabriel|
+---+----+-------+

In [5]:
# spark, df are from the previous example
# Print the schema in a tree format
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [6]:
# Select only the "name" column
df.select("name").show()

+-------+
|   name|
+-------+
| satish|
|  haris|
|  amith|
|  javed|
| prudvi|
|Michael|
|   Andy|
|    jon|
|  maria|
|gabriel|
+-------+