In [1]:
from pyspark.sql import SparkSession

# the Spark session should be instantiated as follows
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.jars", "postgresql-42.2.14.jar") \
    .getOrCreate()

In [17]:
jdbcDF = spark.read.format("jdbc"). \
options(
         url='jdbc:postgresql://localhost:5432/postgres', # jdbc:postgresql://<host>:<port>/<database>
         dbtable='loan_accounts',
         user='postgres',
         password='password',
         driver='org.postgresql.Driver').\
load()

In [18]:
jdbcDF.show()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|     128.0|           360.0|           1.0|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|      66.0|           360.0|           1.0|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|     120.0|           360.0|           1.0|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|     141.0|           360.0|           1.0|        Urban|          Y|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|     267.0|           360.0|           1.0|        Urban|          Y|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|      95.0|           360.0|           1.0|        Urban|          Y|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|     158.0|           360.0|           0.0|    Semiurban|          N|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|     168.0|           360.0|           1.0|        Urban|          Y|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|     349.0|           360.0|           1.0|    Semiurban|          N|
|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|            700.0|      70.0|           360.0|           1.0|        Urban|          Y|
|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|           8106.0|     200.0|           360.0|           1.0|        Urban|          Y|
|LP001029|  Male|     No|         0|    Graduate|           No|           1853|           2840.0|     114.0|           360.0|           1.0|        Rural|          N|
|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|           1086.0|      17.0|           120.0|           1.0|        Urban|          Y|
|LP001032|  Male|     No|         0|    Graduate|           No|           4950|              0.0|     125.0|           360.0|           1.0|        Urban|          Y|
|LP001036|Female|     No|         0|    Graduate|           No|           3510|              0.0|      76.0|           360.0|           0.0|        Urban|          N|
|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|              0.0|     133.0|           360.0|           1.0|        Rural|          N|
|LP001043|  Male|    Yes|         0|Not Graduate|           No|           7660|              0.0|     104.0|           360.0|           0.0|        Urban|          N|
|LP001046|  Male|    Yes|         1|    Graduate|           No|           5955|           5625.0|     315.0|           360.0|           1.0|        Urban|          Y|
|LP001047|  Male|    Yes|         0|Not Graduate|           No|           2600|           1911.0|     116.0|           360.0|           0.0|    Semiurban|          N|
|LP001066|  Male|    Yes|         0|    Graduate|          Yes|           9560|              0.0|     191.0|           360.0|           1.0|    Semiurban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 20 rows

###  Inserting Data in to Postgres DB

In [9]:
import pyforest
df = pd.read_csv("./loan_sanction.csv")
print(df.shape)
df.head()

(614, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
df = df.dropna()
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [12]:
df.shape

(480, 13)

In [16]:
import psycopg2
from sqlalchemy import create_engine
conn_string = "postgresql://postgres:password@localhost:5432/postgres"
db = create_engine(conn_string)
conn = db.connect()
df.to_sql("loan_accounts", con=conn, if_exists='replace',index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
conn.close()